<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IRobot" />
        <binding name="WSDualHttpBinding_IRobot1" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/robotService/rob" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IRobot" contract="RobotActions.IRobot"
        name="WSDualHttpBinding_IRobot">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>